html, body {
  background: #E5E4E2;
  font-family: Times, arial;
  font-size: 16px;
  color: #000000;
}
p, li,th,td {
  font-size: 1.25em;
  line-height: 1.5em;
  margin-left: 10px;
  margin-right:10px;
  margin-bottom: 20px;
  color: inherit;
}
a {
    font-weight: bold;
    color: inherit;
}
h1{
  font-size: 3.75vw;
  font-weight: bold;
}
h2{
  font-size: 2em;
  font-weight: bold;
  font-style: italic;
  padding: 30px;
}
h3{
  font-weight: bold;
  line-height: 2em;
  margin-left: 5px;
}
.search-table{table-layout: fixed; margin:40px auto 0px auto; }
.search-table, td, th{border-collapse:collapse; border:1px solid #777;}
th{padding:15px 7px; font-size:25px; color:#E5E4E2; background:#324A5F;}
td{padding:5px 10px; height:35px; background: #1B2A41;}

.search-table-outter { overflow-x: scroll; }
th, td { min-width: 72.5vw; }
